{% extends "base.html" %}

{% block title %}
    Titel bearbeiten
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("academytitle"), "Titel", active=True) }}
{% endblock %}

{% block content %}
{{ threeway(ok, 'Bitte Titel eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.", error.message,
            error.explanation) }}
<form action="{{ buildurl("academytitlesave")|e }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
{{ util.href(buildurl("academy"), "Abbrechen") }}
{% endblock %}
