{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title)]) }}
{% endblock %}
{% block content %}
{% if academy.courses %}
<ol>
	{%- for course in academy.courses -%}
	    {%- if user.allowedRead(academy, course) %}
	    <li><a href="{{ buildurl("course", dict(course=course.name))|e }}">{{ course.title|e }}</a><br>
{{ "Schätzung (in Klammern mit Ednotes): %d (%d) Zeichen; \
    %.1f (%.1f) Seiten und %d Abbildungen (%.1f zusätzliche \
    Seiten)" | format(course.estimate['chars'], course.estimate['charsednotes'],
                      course.estimate['pages'], course.estimate['pagesednotes'],
                      course.estimate['blobs'], course.estimate['blobpages']) | e}}<hr>
</li>
	    {%- else -%}
	    <li>{{ course.title|e }}</li>
	    {%- endif -%}
	{%- endfor %}
</ol>
{%- else -%}
<em>Keine Kurse gefunden.</em>
{%- endif -%}
{%- if user.mayExport(academy)%}
{# 
<a href="{{ buildurl("export")|e }}">Exportieren</a>
#} FIXME: this should be an "Exportieren" button
{%- endif %}
{%- if user.allowedWrite(academy) %}
<a href="{{ buildurl("academytitle")|e }}">Titel bearbeiten</a>
<a href="{{ buildurl("academygroups")|e }}">Gruppen bearbeiten</a>
<a href="{{ buildurl("createcoursequiz")|e }}">Kurs hinzuf&uuml;gen</a>
{%- endif -%}
{% endblock %}
