{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", academy.title)]) }}
{% endblock %}
{% block content %}
<div class="locationbox">
Kursübersicht
</div>
{% if academy.courses %}
<div class="courselist">
	{%- for course in academy.courses -%}
	    {%- if user.allowedRead(academy, course) %}
	    <div class="courseitem">
	      <a href="{{ buildurl("course", dict(course=course.name))|e }}">{{ course.title|e }}</a>
	      <div class="infostring">{{ "Letzte Änderung von %s am %s" | format(course.lastchange['author'], course.lastchange['date']) | e }}&nbsp;|&nbsp;{{ course.estimate.output() | e}}</div>
	    </div>
	    {%- else -%}
	    <div class="courseitem">{{ course.title|e }}</div>
	    {%- endif -%}
	{%- endfor %}
</div>
{%- else -%}
<em>Keine Kurse gefunden.</em><br>
{%- endif -%}
<div class="contextbox">
<div class="academyoperations">
{%- if user.mayExport(academy)%}
<a href="{{ buildurl("export")|e }}">Exportieren</a>
{%- endif %}
{%- if user.allowedMeta(academy) %}
<a href="{{ buildurl("academytitle")|e }}">Titel bearbeiten</a>
<a href="{{ buildurl("academygroups")|e }}">Gruppen bearbeiten</a>
<a href="{{ buildurl("createcoursequiz")|e }}">Kurs hinzuf&uuml;gen</a>
<a href="{{ buildurl("showdeadcourses")|e }}">gel&ouml;schte Kurse wiederherstellen</a>
{%- endif -%}
</div>
<div class="infostring">{{ "Letzte Änderung von %s am %s" | format(academy.lastchange['author'], academy.lastchange['date']) | e }}&nbsp;|&nbsp;{{ academy.estimate.output() | e}}</div>
</div>
{% endblock %}
