{% extends "base.html" %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("academygroups", {}, "Gruppenverwaltung")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, 'Bitte Gruppen eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.", error.message,
            error.explanation) }}
<form action="{{ buildurl("academygroupssave")|e }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ buildurl("academygroups")|e }}">Abbrechen</a>
{% endblock %}
