{% extends "base.html" %}

{% block title %}
    Bild hinzufügen
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("course"), course.title) }}
    {{ util.breadcrumb_link(buildurl("page"), "Teil #" ~ page) }}
    {{ util.breadcrumb_link(buildurl("addblob"), "Bild hochladen", active=True) }}
{% endblock %}

{% block content %}
{{ threeway(ok, 'Bitte Angaben ergänzen und mit "Bild auswählen" fortfahren.',
            "", error.message, error.explanation) }}
<form action="{{ buildurl("uploadblob")|e }}" method="post" >
  Bildunterschrift/Kommentar: <textarea name="comment">{{form.get("comment", "")|e}}</textarea>
  K&uuml;rzel: <textarea name="label">{{form.get("label", "")|e}}</textarea>
	<input type="submit" value="Bild auswählen">
</form>
Das K&uuml;rzel darf nur Kleinbuchstaben und Ziffern enthalten.<br>
{{ util.href(buildurl("page"), "Abbrechen") }}
{% endblock %}
