{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page),
	   ("addblob", {}, "Bild hochladen")]) }}
{% endblock %}

{% block content %}
{{ threeway(ok, 'Bitte Angaben ergänzen und mit "Bild auswählen" fortfahren.',
            "", error.message, error.explanation) }}
<form action="{{ buildurl("uploadblob")|e }}" method="post" >
  Bildunterschrift/Kommentar: <textarea name="comment">{{form.get("comment", "")|e}}</textarea>
  K&uuml;rzel: <textarea name="label">{{form.get("label", "")|e}}</textarea>
	<input type="submit" value="Bild auswählen">
</form>
Das K&uuml;rzel darf nur Kleinbuchstaben und Ziffern enthalten.

{% endblock %}
