{% extends "base.html" %}
{% block subheading %}
Nutzeradministration
{% endblock %}
{% block location%}
{{ navbar([("admin", {}, "Administration")]) }}
{% endblock %}
{% block content %}

<form action="{{ buildurl("adminsave")|e }}" method="post" id="saveedit">
{{ threeway(ok,
            'Bitte Text eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.",
            error.message, error.explanation) }}
        <div id="saveedittext">
	     <textarea name="content">{{ content|e }}</textarea>
        </div>
        <div id="saveeditinput">
	    <input type="hidden" name="revisionstartedwith" value="{{ version|e }}"> 
	    <input type="hidden" name="contentreceived" value="true">
	    <input type="submit" name="saveedit" value="Speichern und Editieren">
	    <a href="{{ buildurl("admin")|e }}">Abbrechen</a>
        </div>
</form>
{% endblock %}
