{% extends "base.html" %}
{% block subheading %}
Nutzeradministration
{% endblock %}
{% block location%}
{{ navbar([("admin", {}, "Administration")]) }}
{% endblock %}
{% block content %}

<form action="{{ buildurl("adminsave")|e }}" method="post" id="saveedit">
   {% if ok is none %}
   Bitte Text eingeben und mit "Speichern" beenden.
   {% elif ok %}
   &Auml;nderungen erfolgreich gespeichert.
   {% else %}
   <span class=important> {{ error.message, error.explanation }} </span>
   {% endif %}
   <div id="saveedittext">
      <textarea name="content">{{ content|e }}</textarea>
   </div>
   <div id="saveeditinput">
      <input type="hidden" name="revisionstartedwith" value="{{ version|e }}">
      <input type="hidden" name="contentreceived" value="true">
      <input type="submit" name="saveedit" value="Speichern">
      <a href="{{ buildurl("admin")|e }}">Zur&uuml;setzen</a>
      <a href="{{ buildurl("adminrcs")|e }}">rcs</a>
   </div>
</form>
{% endblock %}
