{% import "util.html" as util with context %}

{%- macro threeway(ok, default, success, errormessage, errorexplanation) -%}
{% if ok is none %}
{{ default|e }}
{% elif ok %}
{{ success|e }}
{% else %}
<span class=important>{{ errormessage|e }}</span><br>
{{ errorexplanation|e }}
{% endif %}
{%- endmacro -%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ staticjoin("bootstrap.min.css")|e }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("style.css")|e }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("print.css")|e }}" media="print">
	<title>DokuForge2</title>

<script type="text/javascript">
function checkMathCookie()
{
  var i,x,y,ARRcookies = document.cookie.split(";");
  for (i = 0; i < ARRcookies.length; i++) {
    x = ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
    x = x.replace(/^\s+|\s+$/g,"");
    if (x == "wants_mathjax") {
      if (y== "True") {
        return true
      } else {
	return false
      }
    }
  }
  disableMathCookie()
  return true
}
function enableMathCookie()
{
  document.cookie="wants_mathjax=True; path=/;"
}
function disableMathCookie()
{
  document.cookie="wants_mathjax=False; path=/;"
}
</script>
<script type="text/javascript">
if (checkMathCookie() == true){
  var mathjax_include = document.createElement("script");
  mathjax_include.type = "text/javascript"
  mathjax_include.src = "{{ mathjaxjoin("MathJax.js?config=TeX-AMS-MML_HTMLorMML") }}"
  document.getElementsByTagName("head")[0].appendChild(mathjax_include)
}
</script>
{% block mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']]
      },
      TeX: {
          Macros: {
              newcommand: '{nonewcommand}',
              renewcommand: '{norenewcommand}',
              def: '{nodef}',
              let: '{nolet}',
          }
      }
  });
</script>
{% endblock %}
</head>

    <body onload="checkMathCookie()">
        <div class="page">
            <div class="row">
                <div class="col-2 df2-logo">
                    df2
                </div>
                <div class="col-10 df2-title">
                    {% block heading %}
                        <h1 id="title">{{ self.title() }}</h1>
                    {% endblock %}
                </div>

            </div>
            <div class="row">
                <div class="col-lg-2">
                    <!-- Seitennavigation  -->
                    <nav id="sidebar" aria-label="Menü" class="navbar sticky-top">
                        <div class="navbar-header hide" id="sidebar-header">
                            <p class="navbar-collapse-header">Menü</p>
                            <button type="button" class="navbar-toggle collapsed" onclick="toggleNavbar()" aria-expanded="false" id="button-navbar-toggle">
                                <span class="sr-only">Menü anzeigen</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse" id="nav-sidebar">
                            {%- if user is not none %}
                                <h6>Meta</h6>
                                <div class="list-group side-nav">
                                    {% if user.isAdmin() %}
                                        {{ util.nav_link(buildurl("admin"), "Administration", aclass="btn-primary") }}
                                    {% endif %}
                                    {% if user.isSuperAdmin() %}
                                        {{ util.nav_link(buildurl("groups"), "Gruppenverwaltung", aclass="btn-primary") }}
                                    {% endif %}
                                    {%- if allowMathChange %}
                                        <script type="text/javascript">
                                            if (checkMathCookie() == true) {
                                                document.write('<a href="" class="nav-item btn-success" onClick="disableMathCookie()">Formelvorschau an</a>')
                                            } else {
                                                document.write('<a href="" class="nav-item btn-danger" onClick="enableMathCookie()">Formelvorschau aus</a>')
                                            }
                                        </script>
                                        <noscript>
                                            Formelvorschau ist aus
                                        </noscript>
                                    {% else %}
                                        <script type="text/javascript">
                                            if (checkMathCookie() == true) {
                                                document.write('<span class="nav-item btn-success" disabled="disabled" onClick="disableMathCookie()">Formelvorschau an</span>')
                                            } else {
                                                document.write('<span class="nav-item btn-danger" disabled="disabeld" onClick="enableMathCookie()">Formelvorschau aus</span>')
                                            }
                                        </script>
                                        <noscript>
                                            <span class="nav-item btn-danger" disabled="disabeld">Formelvorschau aus</span>
                                        </noscript>
                                    {% endif -%}
                                    {{ util.nav_button(buildurl("styleguide"), "So geht's", aclass="btn-info") }}
                                    {{ util.nav_button(buildurl("logout"), "Logout", aclass="btn-danger") }}
                                </div>
                            {% endif %}

                            {% block navigation %}
                            {% endblock %}
                        </div>
                    </nav>
                    <script type="text/javascript">
                        {# collapse menu by default #}
                        document.querySelector('#nav-sidebar').classList.add('collapse');
                        {# make the sidebar header visible #}
                        document.querySelector('#sidebar-header').classList.remove('hide');
                        function toggleNavbar() {
                            const navbar = document.querySelector('#nav-sidebar');
                            if (navbar.classList.contains('collapse')) {
                                navbar.classList.remove('collapse');
                            } else {
                                navbar.classList.add('collapse');
                            }
                        }
                    </script>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <!-- Breadcrumb Leiste -->
                        <nav class="col-lg-10">
                            <ol class="breadcrumb" style="margin-bottom: 7px" aria-labelledby="bc-title">
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </nav>
                        <div class="col-lg-2">
                            {% if user is not none %}
                                <div class="df2-user">
                                    Hallo {{ user.name|e }}!
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="content" class="content">
                            {% block content %}
                                Dies sollte nicht sichtbar sein.
                            {% endblock %}
                    </div>
                    {%- block footer %}
                       <footer id="footer" class="container">
                            {% if user is none %}
                                Kontakt: team (at) dokuforge.de<br>
                            {% else %}
                                Kontakt: {{ util.href("mailto:team@dokuforge.de", "team@dokuforge.de") }}<br>
                            {% endif %}
                            DokuForge – Ein Projekt des CdE e.V.
                       </footer>
                    {% endblock -%}
                </div>
            </div>

        </div>
    </body>
<!-- DokuForge revision is {{ commitid }}. -->
</html>
{# vim:syntax=jinja
#}
