{% import "util.html" as util with context %}

{%- macro threeway(ok, default, success, errormessage, errorexplanation) -%}
{% if ok is none %}
{{ default|e }}
{% elif ok %}
{{ success|e }}
{% else %}
<span class=important>{{ errormessage|e }}</span><br>
{{ errorexplanation|e }}
{% endif %}
{%- endmacro -%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ staticjoin("bootstrap.min.css")|e }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("style.css")|e }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("print.css")|e }}" media="print">
	<title>DokuForge2</title>

<script type="text/javascript">
function checkMathCookie()
{
  var i,x,y,ARRcookies = document.cookie.split(";");
  for (i = 0; i < ARRcookies.length; i++) {
    x = ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
    x = x.replace(/^\s+|\s+$/g,"");
    if (x == "wants_mathjax") {
      if (y== "True") {
        return true
      } else {
	return false
      }
    }
  }
  disableMathCookie()
  return true
}
function enableMathCookie()
{
  document.cookie="wants_mathjax=True; path=/;"
}
function disableMathCookie()
{
  document.cookie="wants_mathjax=False; path=/;"
}
</script>
<script type="text/javascript">
if (checkMathCookie() == true){
  var mathjax_include = document.createElement("script");
  mathjax_include.type = "text/javascript"
  mathjax_include.src = "{{ mathjaxjoin("MathJax.js?config=TeX-AMS-MML_HTMLorMML") }}"
  document.getElementsByTagName("head")[0].appendChild(mathjax_include)
}
</script>
{% block mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']]
      },
      TeX: {
          Macros: {
              newcommand: '{nonewcommand}',
              renewcommand: '{norenewcommand}',
              def: '{nodef}',
              let: '{nolet}',
          }
      }
  });
</script>
{% endblock %}
</head>

    <body onload="checkMathCookie()">
        <div class="page">
            {% block heading %}
                <h1 class="title" style="margin-bottom: 10px" id="title">{{ self.title() }}</h1>
            {% endblock %}

            <div class="row">
                <div class="col-lg-2">
                    <!-- Seitennavigation  -->
                    <nav id="sidebar" aria-label="Menü" class="sticky-top">
                        <div id="sidebar-navigation">
                            {%- if user is not none %}
                                <h6>Meta</h6>
                                <div class="list-group side-nav">
                                    {% if user.isAdmin() %}
                                        {{ util.href(buildurl("admin"), "Administration", aclass="list-group-item") }}
                                    {% endif %}
                                    {% if user.isSuperAdmin() %}
                                        {{ util.href(buildurl("groups"), "Gruppenverwaltung", aclass="list-group-item") }}
                                    {% endif %}
                                    {%- if allowMathChange %}
                                        <script type="text/javascript">
                                            if (checkMathCookie() == true) {
                                                document.write('<a href="" class="list-group-item" onClick="disableMathCookie()">Formelvorschau ausschalten</a>')
                                            } else {
                                                document.write('<a href="" class="list-group-item" onClick="enableMathCookie()">Formelvorschau einschalten</a>')
                                            }
                                        </script>
                                        <noscript>
                                            Formelvorschau ist aus
                                        </noscript>
                                    {% else %}
                                        <script type="text/javascript">
                                            if (checkMathCookie() == true) {
                                                document.write('Formelvorschau ist an')
                                            } else {
                                                document.write('Formelvorschau ist aus')
                                            }
                                        </script>
                                        <noscript>
                                            Formelvorschau ist aus
                                        </noscript>
                                    {% endif -%}
                                    {{ util.href(buildurl("styleguide"), "So geht's", aclass="list-group-item") }}
                                    {{ button(buildurl("logout"), "Logout") }}
                                </div>
                            {% endif %}

                            {% block navigation %}
                            {% endblock %}
                        </div>
                    </nav>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <!-- Breadcrumb Leiste -->
                        <nav class="col-lg-10">
                            <ol class="breadcrumb" style="margin-bottom: 7px" aria-labelledby="bc-title">
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </nav>
                        <div class="col-lg-2" style="text-align: right">
                            {% if user is not none %}
                                Hallo {{ user.name|e }}!
                            {% endif %}
                        </div>
                    </div>
                    <div id="content">
                            {% block content %}
                                Dies sollte nicht sichtbar sein.
                            {% endblock %}
                    </div>
                </div>
            </div>

            {%- block footer %}
               <footer id="footer" class="container">
                    {% if user is none %}
                        Kontakt: team (at) dokuforge.de<br>
                    {% else %}
                        Kontakt: {{ util.href("mailto:team@dokuforge.de", "team@dokuforge.de") }}<br>
                    {% endif %}
                    DokuForge – Ein Projekt des CdE e.V.
               </footer>
            {% endblock -%}

        </div>
    </body>
<!-- DokuForge revision is {{ commitid }}. -->
</html>
{# vim:syntax=jinja
#}
