{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title)]) }}
{% endblock %}
{% block content %}
{%- if course.pages %}
<ol class="toc">
        {%- set i = 0 -%}
	{%- for page in course.outlines %}
        {%- set i = i + 1 -%}
	<li class="tocpart">
		<a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous tocpartstart">
			<div class="tocnumber">{{ i|e }}</div>
			<div class="tocspan">Teil&nbsp;#{{ page.number|string }}</div>
		</a>
		{%- for (type, title) in page.items() -%}
		    {# FIXME links currently link only to a page, not to a specific heading. #}
		    {%- if type == "heading" -%}
			<div class="tocheading"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">{{title|e}}</a></div>
		    {%- elif type == "subheading" -%}
			<div class="tocsubheading"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">{{title|e}}</a></div>
		    {%- endif -%}
		{%- else -%}
			<div class="tocempty"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">(...)</a></div>
		{%- endfor -%}
		{%- if not loop.first -%}
		   {%- if user.allowedWrite(academy, course) %}
		      {{ button(buildurl("moveup"), "Hochrücken",
	              	 dict(number=loop.index0)) }}
		   {%- endif -%}
		{%- endif -%}
	</li>
	
	{%- endfor %}
</ol>
{%- else -%}
<em>Keine Teile gefunden gefunden.</em><br>
{%- endif -%}
<div class="courseoperations">
{%- if user.mayExport(academy) %}
<a href="{{ buildurl("raw")|e }}">Roh-Export</a>
{%- endif -%}
{%- if user.allowedWrite(academy) and user.allowedWrite(academy, course) %}
<a href="{{ buildurl("coursetitle")|e }}">Titel bearbeiten</a>
</a>
{%- endif -%}
{%- if user.allowedWrite(academy, course) %}
<a href="{{ buildurl("showdeadpages")|e }}">gel&ouml;schte Teile wiederherstellen</a>
{{ button(buildurl("createpage"), "Neuen Teil anlegen") }}
{%- endif -%}
</div>
{% endblock %}
