{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("createcourse", {}, "Kurs hinzufügen")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, "Bitte die folgenden Angaben ergänzen.", "", error.message,
            error.explanation) }}
<form action="{{ buildurl("createcourse")|e }}" method="post" id="createcourse">
	Interner Name: <input name="name" type="text" value="{{ form.get("name", "")|e }}"><br>
	Titel: <input name="title" type="text" value="{{ form.get("title", "")|e }}"><br>
	<button type="submit" name="submit">Kurs hinzuf&uuml;gen</button>
</form>
{{ fakebutton(buildurl("academy"), "Abbrechen") }}
{% endblock %}
