{% extends "base.html" %}

{% block title %}
    Gelöschte Bilder
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("course"), course.title) }}
    {{ util.breadcrumb_link(buildurl("page"), "Teil #" ~ page) }}
    {{ util.breadcrumb_link(buildurl("showdeadblobs"), "gelöschte Bilder wiederherstellen", active=True) }}
{% endblock %}

{% block content %}
{%- if blobs %}
<ul>
	{%- for blob in blobs %}
	<li>
        #[{{ blob.number|string }}] ({{ blob.filename|e  }})
        {{ util.button(buildurl("relinkblob"), "wiederherstellen", dict(number=blob.number), aclass="btn-sm btn-success", inline=True) }}
	</li>
	{%- endfor -%}
</ul>
{%- else -%}
<em>Keine gel&ouml;schten Bilder in diesem Kurs gefunden.</em>
{%- endif -%}
{% endblock %}
