{% extends "base.html" %}

{% block title %}
    Gelöschte Teile
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("course"), course.title) }}
    {{ util.breadcrumb_link(buildurl("showdeadpages"), "gelöschte Teile wiederherstellen", active=True) }}
{% endblock %}

{% block content %}
{%- if course.outlinesdead %}
<ul>
	{%- for page in course.outlinesdead %}
	<li class="hide-hover-container">
         #{{ page.number|string }}
         {{ util.button(buildurl("relink"), "wiederherstellen", dict(number=page.number), aclass="btn-sm btn-success", inline=True) }}
         {%- for (type, title) in page.items() -%}
	            {%- if type == "heading" -%}
	                <div class="tocheading">{{title|e}}</div>
	            {%- elif type == "subheading" -%}
	                <div class="tocsubheading">{{title|e}}</div>
	            {%- endif -%}
         {%- endfor -%}
	</li>
	{%- endfor %}
</ul>
{%- else -%}
<em>Keine gel&ouml;schten Teile gefunden.</em>
{%- endif -%}
{% endblock %}
