{% extends "base.html" %}

{% block title %}
    Gelöschte Kurse
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("deadcourses"), "Gelöschte Kurse wiederherstellen", active=True) }}
{% endblock %}

{% block content %}
{% if academy.deadcourses %}
<ul>
	{%- for course in academy.deadcourses -%}
	    <li>
	      <a href="{{ buildurl("course", dict(course=course.name))|e }}">{{ course.title|e }}</a>
          {{ util.button(buildurl("undeletecourse", dict(course=course.name)), "wiederherstellen",  aclass="btn-sm btn-success", inline=True) }}
		</li>
	{%- endfor %}
</ul>
{%- else -%}
<em>Keine Kurse gefunden.</em><br>
{%- endif -%}
{% endblock %}
