{% extends "base.html" %}
{% block subheading %}
    Gelöschte Teile
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("showdeadpages", {}, "Attic")])}}
{% endblock %}
{% block content %}
{%- if course.outlinesdead %}
<ul>
	{%- for page in course.outlinesdead %}
	<li> #{{ page.number|string }}
         {{ button(buildurl("relink"), "wiederherstellen", dict(number=page.number)) }}
         {%- for (type, title) in page.items() -%}
	            {%- if type == "heading" -%}
	                <div class="tocheading">{{title|e}}</div>
	            {%- elif type == "subheading" -%}
	                <div class="tocsubheading">{{title|e}}</div>
	            {%- endif -%}
         {%- endfor -%}
	</li>
	{%- endfor %}
</ul>
{%- else -%}
<em>Keine gel&ouml;schten Teile gefunden.</em>
{%- endif -%}
{% endblock %}
