{% extends "base.html" %}

{% block title %}
    Teil #{{ page }} bearbeiten
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("academy"), academy.title) }}
    {{ util.breadcrumb_link(buildurl("course"), course.title) }}
    {{ util.breadcrumb_link(buildurl("page"), "Teil #" ~ page) }}
    {{ util.breadcrumb_link(buildurl("edit"), "Editieren", active=True) }}
{% endblock %}

{% block content %}
<form action="{{ buildurl("save")|e }}" method="post" id="saveedit">
  {% if ok is none %}
  Bitte Text eingeben und mit &quot;Speichern&quot; beenden.
  {% elif ok %}
  Änderungen erfolgreich gespeichert.
  {% else %}
  <span class=important>Es ist ein Konflikt mit einer anderen &Auml;nderung aufgetreten!</span>
  Bitte l&ouml;se den Konflikt auf und speichere danach erneut.
  {% endif %}

  Teil #{{ page|string }}
  <div id="saveedittext">
      <textarea name="content" class="dokucontent-edit" rows="15">
          {{- content|e -}}
      </textarea>
  </div>
  <div id="saveeditinput">
	<input type="hidden" name="revisionstartedwith" value="{{ version|e }}"> 
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
	<input type="submit" name="saveshow" value="Speichern und Beenden">
	{{ util.href(buildurl("page"), "Abbrechen") }}
  </div>
</form>
{% endblock %}
