{% extends "base.html" %}
{% block subheading %}
Gruppenverwaltung
{% endblock %}
{% block location%}
{{ navbar([("groups", {}, "Gruppenverwaltung")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok,
            'Bitte Text eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.",
            error.message, error.explanation) }}
<form action="{{ buildurl("groupssave")|e }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="revisionstartedwith" value="{{ version|e }}"> 
	<input type="hidden" name="contentreceived" value="true">
	<button type="submit" name="saveedit">Speichern und Editieren</button>
</form>
{{ fakebutton(buildurl("groups"), "Abbrechen") }}
{% endblock %}
