{% extends "base.html" %}

{% block title %}
    Gruppenverwaltung
{% endblock %}

{% block breadcrumb %}
    {{ util.breadcrumb_link(buildurl("index"), "Übersicht") }}
    {{ util.breadcrumb_link(buildurl("groups"), "Gruppenverwaltung", active=True) }}
{% endblock %}

{% block content %}
{{ threeway(ok,
            'Bitte Text eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.",
            error.message, error.explanation) }}
<form action="{{ buildurl("groupssave")|e }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="revisionstartedwith" value="{{ version|e }}"> 
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ buildurl("groups")|e }}">Abbrechen</a>
{% endblock %}
