{% extends "base.html" %}
{% block subheading %}
Übersicht
{% endblock %}
{% block location %}
{{ navbar([("groupindex", dict(group=group), allgroups[group]|e)]) }}
{% endblock %}
{% block content %}
    Willkommen bei Dokuforge!
    <ul>
        {% for onegroup in allgroups.keys()|sort %}
            {% if user.allowedList(onegroup) %}
                <li>
                    {{ allgroups[onegroup] }}
                    <ul>
                        {% for academy in academies %}
                            {%- if onegroup in academy.groups -%}
                                {%- if user.allowedRead(academy) %}
                                    <li>
                                        <a href="{{ buildurl("academy", dict(academy=academy.name))|e }}">{{ academy.title|e }}</a>
                                    </li>
                                {%- else -%}
                                    <li>{{ academy.title|e }}</li>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if user.mayCreate() %}
        <a href="{{ buildurl("createacademy")|e }}">Neue Akademie anlegen</a>
    {% endif %}

{% endblock %}
