{% extends "base.html" %}
{% block subheading %}
    Übersicht
{% endblock %}
{% block location %}
    {{ navbar() }}
{% endblock %}

{% macro list_academies(group) %}
    <ul style="margin-top: 0; margin-bottom: 0">
        {%- for academy in academies[group] -%}
            {%- if user.allowedRead(academy) %}
                <li>
                    <a href="{{ buildurl("academy", dict(academy=academy.name))|e }}">
                        {{ academy.title|e }}
                    </a>
                </li>
            {%- else -%}
                <li>{{ academy.title|e }}</li>
            {%- endif -%}
        {%- else -%}
            <li><em>Keine Akademien gefunden.</em></li>
        {%- endfor -%}
    </ul>
{% endmacro %}

{% block content %}
    {% if groups|length > 1 %}
        {%- for group, title in groups.items()|sort -%}
            <details {% if group == user.defaultGroup() %}open=""{% endif %}>
                <summary>{{ title }}</summary>
                {{ list_academies(group) }}
            </details>
        {%- endfor -%}
    {% else %}
        {{ list_academies(groups|first) }}
    {% endif %}
{% if user.mayCreate() %}
<a href="{{ buildurl("createacademy")|e }}">Neue Akademie anlegen</a>
{% endif%}
{% endblock %}
