{% extends "base.html" %}
{% block subheading %}
Übersicht
{% endblock %}
{% block location %}
    {{ navbar() }}
{% endblock %}

{% block content %}
    {% if groups|length > 1 %}
        Alle Gruppen:
        <ul style="margin-top: 0">
            {%- for onegroup in groups.keys()|sort -%}
                {% if onegroup == group %}
                    <li>{{ groups[onegroup]|e }}</li>
                {%- elif user.allowedList(onegroup) -%}
                    <li>
                        <a href="{{ buildurl("groupindex", {'group': onegroup})|e }}">{{ groups[onegroup]|e }}</a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
        <hr>
    {% endif %}
    {{ groups[group]|e }}:
    <ul style="margin-top: 0">
        {%- for academy in academies -%}
            {%- if user.allowedRead(academy) %}
                <li>
                    <a href="{{ buildurl("academy", dict(academy=academy.name))|e }}">{{ academy.title|e }}</a>
                </li>
            {%- else -%}
                <li>{{ academy.title|e }}</li>
            {%- endif -%}
        {%- else -%}
            <li><em>Keine Akademien gefunden.</em></li>
        {%- endfor -%}
    </ul>
{% if user.mayCreate() %}
<a href="{{ buildurl("createacademy")|e }}">Neue Akademie anlegen</a>
{% endif%}
{% endblock %}
