{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page),
	   ("showblob", {}, "Bild #" ~ blob.number)]) }}
{% endblock %}
{% block content %}
<p>Bildunterschrift/Kommentar: {{ blob.comment|e }}</p>
<p>K&uuml;rzel: {{ blob.label|e }}</p>
<p>Dateiname: {{ blob.filename|e }}</p>

{% if user.allowedWrite(academy, course) %}
{{ fakebutton(buildurl("editblob"), "Editieren") }}
{% endif %}

{{ fakebutton(buildurl("downloadblob"), "herunterladen") }}

{% if blobhash is not none %}
MD5 Summe des Bildes ist {{ blobhash|e }}.
{% else %}
{{ fakebutton(buildurl("md5blob"), "MD5-Summe berechnen") }}
{% endif %}
{% endblock %}
