{% extends "base.html" %}
{% block subheading %}
Startseite
{% endblock %}
{% block location %}
{{ navbar() }}
{% endblock %}
{% block content %}
<p style="font-size: large; font-weight: bold">
Hinweis: Das neue Dokuforge befindet sich noch in der Entwicklung. Bei
Fragen und Verbesserungsvorschlägen bitte einfach eine mail an team (at)
dokuforge.de schreiben.
</p>

<form action="{{ buildurl("login")|e }}" method="post" id="login">
  <p>Nutzername: <input name="username" type="text"></p>
  <p>Passwort: <input name="password" type="password"></p>
  <p><input name="submit" value="Login" type="submit"></p>
</form>
{% endblock %}
