#header {
    background-color: #9999ff;
    padding: 1ex;
    margin: 0px;
}
#footer {
    background-color: #9999ff;
    padding: 1ex;
}
#content {
    background-color: #ccccff;
    padding: 1ex;
}
#page {
    height: 100%;
}
#dokuforgetitle {
    text-align: center;
    width: 100%;
}
#userinformation {
}
#headerlinks {
}
.important {
    color: red;
    font-size: larger;
    font-weight: bold;
}
body {
    background-color: #9999ff;
    margin: 0px;
}
