#header {
    background-color: #9999ff;
    padding: 1ex;
    margin: 0px;
    position: relative;
    min-height: 14.5ex;
}
#footer {
    background-color: #9999ff;
    padding: 1ex;
    text-align: right;
}
#content {
    background-color: #ccccff;
    padding: 1ex;
}
#page {
}
#dokuforgetitle {
    text-align: center;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}
#userinformation {
    float: right;
}
#headerlinks {
    position: absolute;
    bottom: 1ex;
    right: 1ex;
}
#subheading {
    font-size: x-large;
    font-weight: bold;
}
#location {
    position: absolute;
    bottom: 1ex;
    margin-right: 45ex;
}
.important {
    color: red;
    font-size: larger;
    font-weight: bold;
}
body {
    background-color: #9999ff;
    margin: 0px;
}
.button {
    display: inline;
}
.dokucontent {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1ex;
    background-color: #ddddff;
}