/* general page layout */

html, body.df2-body {
    background-color: #b0b0ff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #b0b0ff;
}

.userinfo {
    text-align: right;
}

.userlinks {
    text-align: right;
}

#content {
    background-color: #ccccff;
	overflow: auto;
    min-height: 75vh;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

#footer {
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

/* one part of a course */

textarea {
	width: 100%;
	min-height: 10ex;
}

.important {
    color: red;
    font-size: larger;
    font-weight: bold;
}
.button {
    display: inline;
}
.dokucontent {
    padding: .5ex 2ex .5ex 2ex;
    background-color: #ddddff;
    font-family: serif;
}

.ednote {
    background-color: #aaddff;
}

.dokucontent .ednote {
    background-color: #aaddff;
}

.dokucontent .displaymath {
    text-align: center;
}

.dokuedit {
    font-family: monospace;
    font-size: 12px;
    height: 64vh;
}

.rareCommands {
  display: inline-block;
  float: right;
}

.inactiveNavigation {
	visibility: hidden;
}

/* one course of an academy */

div.tocpart {
    background-color: #ddddff;
    padding: 1ex;
    margin: 1ex 0 1ex 0;
}

.tocpart:after {
    content: " ";
    clear: both;
    display: block;
}

.tocnumber {
    font-size: 5ex;
    margin-right: 20px;
    line-height: .6;
    float: left;
}

.tocpartnumber {
    font-size: small;
}

.toccontent {
    overflow-x: hidden;
}

.tocbutton {
    float: right;
}

.tocheading {
    font-weight: bold;
}

.tocsubheading {
    font-weight: bold;
    padding-left: 1em;
}

.tocempty {
    font-style: italic;
}

.versionstring {
    font-size: small;
}

/* one academy */

.courseitem {
    background-color: #ddddff;
    padding: 1ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* links */

a {
    color: #880088;
    text-decoration: none!important;
}

a:link {
    color: #880088;
}

a:visited {
    color: #880088;
}

a:focus {
    color: #880088;
}

a:hover {
    color: #cc00cc!important;
}

a:active {
    color: #880088;
}

a.inconspicuous {
    color: #000000;
}
