[scgi]
port = 4000

[path]
rootdir = ./work/example
dfdir = %(rootdir)s/df
admindir = %(rootdir)s/admin
sessiondbpath = %(admindir)s/sessiondb.sqlite3
staticservepath = static/
mathjaxuri = %(staticservepath)s/mathjax/
