{% extends "base.html" %}
{% block location%}
{{ trivnavbar([(academy.name, academy.gettitle()),
               (academy.name + '/!groups', "Gruppenverwaltung")]) }}
{% endblock %}
{% block content %}

{% if ok is none %}
Bitte Text eingeben und mit &quot;Speichern&quot; beenden.
{% elif ok %}
Aenderungen erfolgreich gespeichert.
{% else %}
<span class=important>Es ist ein Konflikt mit einer anderen &Auml;nderung aufgetreten!</span>
Bitte l&ouml;se den Konflikt auf und speichere danach erneut.
{% endif %}

<form action="!groups" method="post" id="save">
	<textarea name="content">{{ content.encode("utf8")|e }}</textarea>
	<input type="hidden" name="revisionstartedwith" value="{{version}}"> 
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ basejoin(academy.name + '/!groups') }}">Abbrechen</a>
{% endblock %}
