{% extends "base.html" %}
{% block location%}
Navigation: <a href="{{ basejoin('') }}">Dokuforge</a> &gt; <a href="{{ basejoin('df/') }}">Index</a> &gt; <a href="{{ basejoin('df/' + academy.name) }}">{{ academy.gettitle()|e}}</a>
{% endblock %}
{% block content %}
{% set courses = academy.listCoursesLite() %}
{% if courses %}
<ol>
	{% for course in courses %}
	    {% if user.allowedRead(academy.name, course.name) %}
	    <li><a href="{{ basejoin("df/" + academy.name + '/' + course.name) }}">{{ course.gettitle()|e }}</a></li>
	    {% else %}
	    <li>{{ course.gettitle()|e }}</li>
	    {% endif %}
	{% endfor %}
</ol>
{% else %}
<em>Keine Kurse gefunden.</em>
{% endif %}
{% endblock %}
