{% extends "base.html" %}
{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + '/!title', "Titel")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, "Bitte Titel eingeben und mit &quot;Speichern&quot; beenden.",
            "Aenderungen erfolgreich gespeichert.", error.message,
            error.explanation) }}
<form action="{{ buildurl("academytitlesave", academy=academy.name) }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="revisionstartedwith" value="{{version}}"> 
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ buildurl("academytitle", academy=academy.name) }}">Abbrechen</a>
{% endblock %}
