{% extends "base.html" %}

{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page),
	   ("addblob", {}, "Bild hochladen")]) }}
{% endblock %}

{% block content %}
<form action="{{ buildurl("attachblob") }}" method="post" enctype="multipart/form-data">
  Bildunterschrift/Kommentar: <textarea name="comment"></textarea>
  K&uuml;rzel: <textarea name="label"></textarea>
	<input type="file" name="content">
	<input type="submit" value="Bild hochladen">
</form>
Das K&uuml;rzel darf nur Kleinbuchstaben und Ziffern enthalten.

{% endblock %}
