{% extends "base.html" %}

{% block location%}
{{ trivnavbar([(academy.name, academy.gettitle()),
               (academy.name + '/' + course.name, course.gettitle()),
               (academy.name + '/' + course.name + '/' + page|string, "Teil #" + page|string),
               (academy.name + '/' + course.name + '/' + page|string + '/!addblob', "Bild hochladen")]) }}
{% endblock %}

{% block content %}


<form action="!attachblob" method="post" enctype="multipart/form-data">
  Bildunterschrift/Kommentar: <textarea name="comment"></textarea>
  K&uuml;rzel: <textarea name="label"></textarea>
	<input type="file" name="content">
	<input type="submit" value="Bild hochladen">
</form>

{% endblock %}
