{% extends "base.html" %}

{% block location%}
{{ navbar([("academy", academy.title),
           ("course", course.title),
	   ("page", "Teil #" + page|string),
	   ("addblob", "Bild hochladen")]) }}
{% endblock %}

{% block content %}

{{ threeway(ok, "", "", error.message, error.explanation) }}
<form action="{{ buildurl("attachblob") }}" method="post" enctype="multipart/form-data">
  Bildunterschrift/Kommentar: <textarea name="comment">{{ comment|e }}</textarea>
  K&uuml;rzel: <textarea name="label">{{ label|e }}</textarea>
	<input type="file" name="content">
	<input type="submit" value="Bild hochladen">
</form>
Das K&uuml;rzel darf nur Kleinbuchstaben und Ziffern enthalten.

{% endblock %}
