{% extends "base.html" %}
{% block location%}
{{ trivnavbar([('!admin', "Administration")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok,
            "Bitte Text eingeben und mit &quot;Speichern&quot; beenden.",
            "Aenderungen erfolgreich gespeichert.",
            error.message, error.explanation) }}
<form action="!admin" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="revisionstartedwith" value="{{version}}"> 
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ basejoin('!admin') }}">Abbrechen</a>
{% endblock %}
