<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="./static/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="./static/print.css" media="print">
	<title>Dokuforge2</title>
</head>
<body>
{% block header %}
   <div id="header">
   Dokuforge
   {% if user is not none %}
   <p>Hallo {{ user.name }}!</p>
     <p><form action="logout" method="post" id="logout">
	  <input name="submit" value="Logout" type="submit">
	</form>
	{% if user.hasPermission("df_useradmin") %}
	<a href="./useradmin.html">Nutzeradministration</a>
	{% endif %}
     </p>
   {% else %}
   <a href="./">Login</a>
   {% endif %}
   </div>
{% endblock %}
{% block content %}
Dies sollte nicht sichtbar sein.
{% endblock %}
{% block footer %}
   <div id="footer">
   	Kontakt: team (at) dokuforge. </p>
   	DokuForge – Ein Projekt des CdE e.V
   </div>
{% endblock %}
</body>
</html>
