{% macro button(action, label, params={}) -%}
<form action="{{ basejoin(action)|e }}" method="post">
	{%- for key, value in params.items() -%}
	<input type="hidden" name="{{ key|e }}" value="{{ value|e }}">
	{%- endfor -%}
	<input type="submit" name="submit" value="{{ label|e }}">
</form>
{%- endmacro -%}

{%- macro navbar(entries) -%}
Navigation: <a href="{{ buildurl("index")|e }}">Dokuforge</a>
{%- for (point, title) in entries -%}
{%- if url == '' -%}
{# comment to protect space #} &gt; {{ title|e}}
{%- else -%}
{# comment to protect space #} &gt; <a href="{{buildurl(point)}}">{{ title|e}}</a>
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro threeway(ok, default, success, errormessage, errorexplanation) -%}
{% if ok is none %}
{{ default }}
{% elif ok %}
{{ success }}
{% else %}
<span class=important>{{ errormessage }}</span><br>
{{ errorexplanation }}
{% endif %}
{%- endmacro -%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{ basejoin("static/style.css") }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ basejoin("static/print.css") }}" media="print">
	<title>Dokuforge2</title>
</head>
<body>
{% block header %}
   <div id="header">
   Dokuforge
   <a href="{{ buildurl("styleguide") }}">Style-Guide</a>
   {% if user is not none %}
     <p>Hallo {{ user.name }}!</p>
     <p>{{ button(buildurl("logout"), "Logout")}}
	{% if user.isAdmin() %}
	<a href="{{ buildurl("admin") }}">Administration</a>
	{% endif %}
	{% if user.isSuperAdmin() %}
	<a href="{{ buildurl("groups") }}">Gruppenverwaltung</a>
	{% endif %}
     </p>
   {% else %}
   <a href="{{ buildurl("start") }}">Login</a>
   {% endif %}
   <p>{% block location %}{% endblock %}</p>
   </div>
{% endblock %}
<hr>
{% block content %}
Dies sollte nicht sichtbar sein.
{% endblock %}
<hr>
{% block footer %}
   <div id="footer">
   	Kontakt: team (at) dokuforge. </p>
   	DokuForge – Ein Projekt des CdE e.V
   </div>
{% endblock %}
</body>
</html>
{# vim:syntax=jinja
#}
