{% extends "base.html" %}
{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + '/' + course.name, course.gettitle())]) }}
{% endblock %}
{% block content %}
{% set pages = course.listpages() %}
{% if pages %}
<ol>
	{% for page in pages %}
	<li><a href="{{ buildurl("page", academy=academy.name, course=course.name, page=page) }}"> Teil #{{ page }}</a>
		{% if pages.index(page) > 0 %}
		   {% if user.allowedWrite(academy, course) %}
		      {{ button("docs/" + academy.name + "/" + course.name + "/!moveup", "Hochrücken",
	              	 dict(number=pages.index(page))) }}
		   {% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ol>
{% else %}
<em>Keine Teile gefunden gefunden.</em>
{% endif %}
{% if user.allowedWrite(academy, course) %}
{{ button("docs/" + academy.name + "/" + course.name + "/!createpage", "Neuen Teil anlegen") }}
<a href="{{ buildurl("showdeadpages", academy=academy.name, course=course.name) }}">gel&ouml;schte Teile wiederherstellen</a>
{% endif %}
{% if user.mayExport(academy) %}
<a href="{{ buildurl("raw", academy=academy.name, course=course.name) }}">Roh-Export</a>
{% endif %}
{% if user.allowedWrite(academy) and user.allowedWrite(academy, course) %}
<a href="{{ buildurl("coursetitle", academy=academy.name, course=course.name) }}">Titel bearbeiten</a>
</a>
{% endif %}
{% endblock %}
