{% extends "base.html" %}
{% block location%}
Navigation: <a href="{{ basejoin('') }}">Dokuforge</a> &gt; <a href="{{ basejoin('df/') }}">Index</a> &gt; <a href="{{ basejoin('df/' + academy.name) }}">{{ academy.gettitle()|e}}</a> &gt; <a href="{{ basejoin('df/' + academy.name + '/' + course.name) }}">{{ course.gettitle()|e}}</a>
{% endblock %}
{% block content %}
{% set pages = course.listpages() %}
{% if pages %}
<ol>
	{% for page in pages %}
	<li><a href="{{ basejoin("df/" + academy.name + '/' + course.name
		+ '/' + page|string) }}">Seite {{ pages.index(page) + 1 }} (intern: {{ page }})</a>
		{% if pages.index(page) > 0 %}
		{{ button("df/" + academy.name + "/" + course.name + "/moveup", "Hochrücken",
	           dict(number=pages.index(page))) }}
		{% endif %}
	</li>
	{% endfor %}
</ol>
{% else %}
<em>Keine Seiten gefunden gefunden.</em>
{% endif %}
{{ button("df/" + academy.name + "/" + course.name + "/createpage", "Eine Seite anlegen") }}
{% endblock %}
