{% extends "base.html" %}
{% block location%}
{{ navbar([("academy", {}, academy.gettitle()),
           ("createcourse", {}, "Kurs hinzufügen")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, "Bitte die folgenden Angaben ergaenzen.", "", error.message,
            error.explanation) }}
<form action="{{ buildurl("createcourse") }}" method="post" id="createcourse">
	Interner Name: <input name="name" type="text" value="{{ name }}"><br/>
	Titel: <input name="title" type="text" value="{{ title }}"><br/>
	<input type="submit" name="submit" value="Kurs hinzuf&uuml;gen">
</form>
<a href="{{ buildurl("academy") }}">Abbrechen</a>
{% endblock %}
