{% extends "base.html" %}
{% block location%}
{{ trivnavbar([('', "Akademie anlegen")]) }}
{% endblock %}
{% block content %}

{% if ok %}
Bitte die folgenden Angaben ergaenzen.
{% else %}
<span class=important>Die Akademieerstellung war nicht erfolgreich. Bitte die folgenden Angaben korrigieren.</span>
{% endif %}
<form action="!createacademy" method="post" id="createacademy">
	Interner Name: <input name="name" type="text" value="{{ name }}"><br/>
	Titel: <input name="title" type="text" value="{{ title }}"><br/>
	Gruppen: <input name="groups" type="text" value="{{ groups }}"><br/>
	<input type="submit" name="submit" value="Akademie anlegen">
</form>
<a href="{{basejoin('')}}">Abbrechen</a>
{% endblock %}
