{% extends "base.html" %}
{% block location%}
{{ trivnavbar([(academy.name, academy.gettitle()),
               (academy.name + '/' + course.name, course.gettitle())])}}
{% endblock %}
{% block content %}
{% set deads=course.listdeadpages() %}
{% if deads %}
<ul>
	{% for page in deads %}
	<li> #{{ page }} 
         {{ button(academy.name + "/" + course.name + "/!relink", "wiederherstellen", dict(number=page)) }}
	</li>
	{% endfor %}
</ul>
{% else %}
<em>Keine gel&ouml;schten Seiten gefunden gefunden.</em>
{% endif %}
{% endblock %}
