{% extends "base.html" %}
{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + "/" + course.name, course.gettitle()),
               ("docs/" + academy.name + "/" + course.name +"/!deadpages", "Attic")])}}
{% endblock %}
{% block content %}
{% set deads=course.listdeadpages() %}
{% if deads %}
<ul>
	{% for page in deads %}
	<li> #{{ page }} 
         {{ button("docs/" + academy.name + "/" + course.name + "/!relink", "wiederherstellen", dict(number=page)) }}
	</li>
	{% endfor %}
</ul>
{% else %}
<em>Keine gel&ouml;schten Teile gefunden.</em>
{% endif %}
{% endblock %}
