{% extends "base.html" %}
{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + '/' + course.name, course.gettitle()),
               ("docs/" + academy.name + '/' + course.name + '/' + page|string, "Teil #" + page|string),
               ("docs/" + academy.name + '/' + course.name + '/' + page|string + '/!deadblobs', "Attic")])}}
{% endblock %}
{% block content %}
{% set deads=course.listdeadblobs() %}
{% if deads %}
<ul>
	{% for blob in deads %}
	<li> #[{{ blob }}]
         {{ button("docs/" + academy.name + "/" + course.name + "/" + page|string + "/!relinkblob", "wiederherstellen", dict(number=blob)) }}
	</li>
	{% endfor %}
</ul>
{% else %}
<em>Keine gel&ouml;schten Bilder in diesem Kurs gefunden.</em>
{% endif %}
{% endblock %}
