{% extends "base.html" %}
{% block location%}
{{ navbar([("academy", {}, academy.gettitle()),
           ("course", {}, course.gettitle()),
	   ("page", {}, "Teil #" + page|string),
	   ("deadblobs", {}, "Attic")])}}
{% endblock %}
{% block content %}
{% set deads=course.listdeadblobs() %}
{% if deads %}
<ul>
	{% for blob in deads %}
	<li> #[{{ blob }}]
         {{ button(buildurl("relinkblob"), "wiederherstellen", dict(number=blob)) }}
	</li>
	{% endfor %}
</ul>
{% else %}
<em>Keine gel&ouml;schten Bilder in diesem Kurs gefunden.</em>
{% endif %}
{% endblock %}
