{% extends "base.html" %}

{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + "/" + course.name, course.gettitle()),
               ("docs/" + academy.name + "/" + course.name + "/" + page|string, "Teil #" + page|string),
               ("docs/" + academy.name + "/" + course.name + "/" + page|string + "/" + blobnr|string + "/", "Bild #" + blobnr|string)]) }}
{% endblock %}

{% block content %}

<p>Bildunterschrift/Kommentar: {{ blob.comment|e }}</p>
<p>K&uuml;rzel: {{ blob.label|e }}</p>
<p>Dateiname: {{ blob.filename|e }}</p>

{% if user.allowedWrite(academy, course) %}
<a href={{ buildurl("editblob") }}>Editieren</a>
{% endif %}

<a href={{ buildurl("downloadblob") }}>herunterladen</a>

{% if blobhash is not none %}
MD5 Summe des Bildes ist {{ blobhash }}.
{% else %}
<a href={{ buildurl("md5blob") }}>MD5-Summe berechnen</a>
{% endif %}


{% endblock %}
