{% extends "base.html" %}

{% block location%}
{{ navbar([("academy", academy.gettitle()),
           ("course", course.title),
	   ("page", "Teil #" + page|string),
	   ("showblob", "Bild #" + blob|string)]) }}
{% endblock %}

{% block content %}

<p>Bildunterschrift/Kommentar: {{ theblob.comment|e }}</p>
<p>K&uuml;rzel: {{ theblob.label|e }}</p>
<p>Dateiname: {{ theblob.filename|e }}</p>

{% if user.allowedWrite(academy, course) %}
<a href={{ buildurl("editblob") }}>Editieren</a>
{% endif %}

<a href={{ buildurl("downloadblob") }}>herunterladen</a>

{% if blobhash is not none %}
MD5 Summe des Bildes ist {{ blobhash }}.
{% else %}
<a href={{ buildurl("md5blob") }}>MD5-Summe berechnen</a>
{% endif %}


{% endblock %}
