{% extends "base.html" %}

{% block location%}
Navigation: <a href="{{ basejoin('') }}">Dokuforge</a> &gt; <a href="{{ basejoin(academy.name) }}">{{ academy.gettitle()|e}}</a> &gt; <a href="{{ basejoin(academy.name + '/' + course.name) }}">{{ course.gettitle()|e}}</a> &gt; <a href="{{ basejoin(academy.name + '/' + course.name + '/' + page|string) }}">Seite #{{ page|string }}</a>
{% endblock %}

{% block content %}
Seite #{{page}}
<hr>
<pre>
{{ content|e }}
</pre>
<hr>
{% if user.allowedWrite(academy, course) %}
<a href="{{basejoin(academy.name + "/" + course.name + "/" + page|string + "/!edit")}}">Editieren</a>
{% endif %}
{% endblock %}
