{% extends "base.html" %}

{% block location%}
{{ trivnavbar([("docs/" + academy.name, academy.gettitle()),
               ("docs/" + academy.name + "/" + course.name, course.gettitle()),
               ("docs/" + academy.name + "/" + course.name + "/" + page|string, "Teil #" + page|string)]) }}
{% endblock %}

{% block content %}
Teil #{{page}}
<hr>
<pre>
{{ content|e }}
</pre>
<hr>


{% if user.allowedWrite(academy, course) %}
<a href="{{basejoin("docs/" + academy.name + "/" + course.name + "/" + page|string + "/!edit")}}">Editieren</a>
{{ button("docs/" + academy.name + "/" + course.name + "/"  + page|string  + "/!delete", "Löschen", dict()) }}
{% endif %}
<a href="{{basejoin("docs/" + academy.name + "/" + course.name + "/" + page|string + "/!rcs")}}">rcs</a>

<hr>
{% if blobs %}
Zugeordnete Bilder:
<ul>
{% for blob in blobs %}
<li> 
  <a href="{{basejoin("docs/" + academy.name + "/" + course.name + "/" + page|string + "/" + blob.number|string + "/")}}">#[{{ blob.number|string }}] ({{ blob.filename|e  }})</a>
{% if user.allowedWrite(academy, course) %}
{{ button("docs/" + academy.name + "/" + course.name + "/" + page|string + "/"  + blob.number|string + "/!delete", "Löschen", dict()) }}
{% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<em>Keine Bilder zu diesem Teil gefunden.</em>
{% endif %}

{% if user.allowedWrite(academy, course) %}
<a href="{{basejoin("docs/" + academy.name + "/" + course.name + "/" + page|string + "/!addblob")}}">neues Bild hinzuf&uuml;gen</a>
<a href="{{basejoin("docs/" + academy.name + "/" + course.name + "/" + page|string + "/!deadblobs")}}">gel&ouml;schte Bilder hier wieder einf&uuml;gen</a>
{% endif %}

{% endblock %}
